@font-face {
    font-family: junaretta-martel;
    src: url(./fonts/JunarettaMartalle-eZrmx.otf);
}

@font-face {
    font-family: purisa;
    src: url(./fonts/Purisa.ttf);
}

body {
    background: linear-gradient(170deg, rgb(133, 216, 212) 40%, white 20%) no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: larger;
    border: 0;
    margin: 0;
    
}

main {
    padding: 20px;
    max-width: 1500px;
}

.jum-intro {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.title-image {
    position: relative;
}

.about-section {
    max-height: 300px;
    max-width: 600px;
    padding: 10px;
    box-shadow: lightgray 3px 3px 6px;
    background-color: white;
}


h1 {
    position: absolute;
    left: 5px;
    font-family: purisa;
    font-size: 2.5rem;
    font-weight:900;
    color: rgb(255, 255, 255);
    
}

p {

}

.jum-picture {
    max-width: 600px;
    object-fit: cover;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

footer {
    background-color: rgb(133, 216, 212);
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-me {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

@media (min-width: 600px) and (max-width: 1000px) {
    .jum-intro {
        display: block;
    }
    .jum-picture {
        max-width: 400px;
        float: left;
        margin: -150px 15px -5px -150px;
        z-index: 5;
    }

    .about-section {
        max-width: 600px;
        max-height: 1000px;
    }
}

@media (max-width: 600px){
    .jum-picture {
        max-width: 90%;
    }

    h1 {
        bottom: 0.5rem;
    }
    
    .about-section {
        max-width: 600px;
        max-height: 1000px;
    }
}